<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="/media/default.css" />
		<link type="text/css" href="/media/jquery/css/dark-hive/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />
		<script type="text/javascript" src="/media/jquery/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/media/default.js"></script>
        {% if index != None %}
        <script>
            $(document).ready(function() {
                $(".show_login").hide();
                $(".login_area").show();
            });
        </script>
        {% endif %}
        {% if course %}
        <script>
            jQuery(function($) {
            });
        </script>
        {% endif %}
        {% if lecture_video_id %}
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            google.load("swfobject", "2.1");
            function load_video() {
                var params = { allowScriptAccess: "always"};
                var atts = { id: "ytPlayer"};
                swfobject.embedSWF("http://www.youtube.com/v/{{ lecture_video_id }}?enablejsapi=1&playerapiid=ytplayer&version=3", "video_player", "400", "300", "8", null, null, params, atts);
            }
            google.setOnLoadCallback(load_video);
        </script>
        {% endif %}
        <title>EdEx | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="header">
            <table class="header_table">
                <tr>
                    <td>
                        <div class="logo">
                            <a href="/edex/">
            				    <img class="logo_image" src="/media/edex.png" alt="EdEx">
                            </a>
                        </div>
                    </td>
                    {% if index == None %}
                    <td class="full_cell">
                        <div class="main_search">
            				<form name="input" action="{% url edex_app.views.search %}" method="get">
                                <table class="main_search_table">
                                    <tr>
                                        <td>
            			            		<input type="text" name="text" id="text" class="ui-widget ui-widget-content ui-corner-all main_search_text" value="{{ text }}" />
                                        </td>
                                        <td>
                        					<input type="submit" value="search" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" />
                                        </td>
                                    </tr>
                                </table>
            				</form>
                        </div>
                    </td>
                    {% endif %}
                    <td>
                        <div class="login">
                        {% if user.is_authenticated %}
                            <a href="{% url edex_app.views.profile user.username %}">{{ user.username }}</a> | <a href="{% url edex_app.views.logout_view %}">Logout</a>
                        {% else %}
                            <table>
                                <tr>
                                    <td>
                                    	<form action="." method="post" class="login_area">
                                        {% csrf_token %}
                                            <table>
                                                <tr>
                                                    <td><label for="username">Username: </label></td>
                                    		        <td><input type="text" name="username" id="username" value="" class="ui-widget-content ui-corner-all" /></td>
                                                    <td><label for="password">Password: </label></td>
                                    		        <td><input type="password" name="password" id="password" value="" class="ui-widget-content ui-corner-all" /></td>
                                                    <td>
                                                        <input type="hidden" id="type" name="type" value="login" />
                                                        <input type="submit" value="login" class="ui-button ui-button-text-only ui-state-default ui-corner-all" />
                                                    </td>
                                                </tr>
                                            </table>
                                    	</form>
                                    </td>
                                    <td>
			            				<a href="#" class="ui-widget show_login">login</a>
                                    </td>
                                    <td>
                                    |
                                    </td>
                                    <td>
			            				<a href="{% url edex_app.views.registration %}" class="ui-widget">sign up</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
            							<label class="error">{{ auth_error }}</label>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
		<div class="clear"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
		<div class="clear"></div>
        <div class="footer">
        </div>
    </body>
</html>
