<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="/media/default.css" />
		<link type="text/css" href="/media/jquery/css/dark-hive/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />
        <link href="/media/movingboxes/css/movingboxes.css" media="screen" charset="utf-8" rel="stylesheet">
        <!--[if lt IE 9]>
        <link type="text/css" href="css/movingboxes-ie.css" rel="stylesheet" media="screen" />
        <![endif]-->
		<script type="text/javascript" src="/media/jquery/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/media/default.js"></script>
        <script src="/media/movingboxes/js/jquery.movingboxes.min.js" charset="utf-8"></script>
        {% if index != None %}
        <script>
            $(document).ready(function() {
                $(".show_login").hide();
                $(".login_area").show();
                $(".related_videos_table").show();
            });
        </script>
        {% endif %}
        {% if course %}
        <script>
            $(function(){
                $('.video_carousel').movingBoxes({
                    hashTags: false,
                    reducedSize: .5,
                    wrap: true,
                    startPanel: {{ lecture_num|default:"1" }},
                });
            });
        </script>
        {% endif %}
        {% if lecture_video_id %}
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            function getSeconds(time_str) {
                seconds = 0;
                time_list = time_str.split(":");
                for (i = 0; i < time_list.length; i++) {
                    seconds += Math.pow(60, (time_list.length - i - 1)) * parseInt(time_list[i]);
                }
                return seconds;
            }
            function seekPlayer(time_str) {
                seconds = getSeconds(time_str);
                player = document.getElementById("ytPlayer");
                player.seekTo(seconds);
            }
            function modifyText(text) {
                if (text != null) {
                    return text.replace(/\s*\@([:\d]+)\s*/, " <a href='javascript:seekPlayer(\"$1\");'>$1</a> ");
                }
            }
            google.load("swfobject", "2.1");
            function load_video() {
                var params = {
                    allowScriptAccess: "always",
                    allowfullscreen: "true",
                    cc_load_policy: "1",
                    autoplay: "1",
                    color: "white",
                    theme: "light"
                };
                var atts = { id: "ytPlayer"};
                swfobject.embedSWF("http://www.youtube.com/v/{{ lecture_video_id }}?enablejsapi=1&playerapiid=ytplayer&version=3", "video_player", "400", "250", "8", null, null, params, atts);
            }
            google.setOnLoadCallback(load_video);
            $(function() {
                $("#edit_notes").click(function() {
                    $("#notes_edit").show();
                    $("#notes_preview").hide();
                });
                $("#preview_notes").click(function() {
                    $("#notes_preview").show();
                    $("#notes_edit").hide();
                    $("#notes_preview").html(modifyText($("#notes_edit").val()));
                });
                $("#notes_tab").tabs();
                $(".community_panel").accordion({
                    collapsible: true,
                    autoHeight: false,
                    navigation: true,
                    active: false,
                });
                $("#save_notes").submit(
                    function(e) {
                        e.preventDefault();
                        $.post("{% url edex_app.views.save_notes %}", $("#save_notes").serialize(),
                            function(data) {
                                $("#save_notes_message").html("<label>" + data.message + "</label>");
                            }, "json");
                    });
            });
        </script>
        {% endif %}
        <title>EdEx | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="header">
            <table class="header_table">
                <tr>
                    <td>
                        <div class="logo">
                            <a href="/edex/">
            				    <img class="logo_image" src="/media/edex.png" alt="EdEx">
                            </a>
                        </div>
                    </td>
                    {% if index == None %}
                    <td class="full_cell">
                        <div class="main_search">
            				<form name="input" action="{% url edex_app.views.search %}" method="get">
                                <table class="main_search_table">
                                    <tr>
                                        <td>
            			            		<input type="text" name="text" id="text" class="ui-widget ui-widget-content ui-corner-all main_search_text" value="{{ text }}" />
                                        </td>
                                        <td>
                        					<input type="submit" value="search" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all main_search_button" />
                                        </td>
                                    </tr>
                                </table>
            				</form>
                        </div>
                    </td>
                    {% endif %}
                    <td>
                        <div class="login">
                        {% if user.is_authenticated %}
                            <a href="{% url edex_app.views.profile user.username %}">{{ user.username }}</a> | <a href="{% url edex_app.views.logout_view %}">Logout</a>
                        {% else %}
                            <table class="login_table">
                                <tr>
                                    <td>
                                    	<form action="." method="post" class="login_area">
                                        {% csrf_token %}
                                            <table>
                                                <tr>
                                                    <td><label for="username">Username: </label></td>
                                    		        <td><input type="text" name="username" id="username" value="" class="ui-widget-content ui-corner-all" /></td>
                                                    <td><label for="password">Password: </label></td>
                                    		        <td><input type="password" name="password" id="password" value="" class="ui-widget-content ui-corner-all" /></td>
                                                    <td>
                                                        <input type="hidden" id="type" name="type" value="login" />
                                                        <input type="submit" value="login" class="ui-button ui-button-text-only ui-state-default ui-corner-all" />
                                                    </td>
                                                </tr>
                                            </table>
                                    	</form>
                                    </td>
                                    <td>
			            				<a href="#" class="ui-widget show_login">login</a>
                                    </td>
                                    <td>
                                    |
                                    </td>
                                    <td>
			            				<a href="{% url edex_app.views.registration %}" class="ui-widget">register</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
            							<label class="error">{{ auth_error|default:"" }}</label>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
		<div class="clear"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
		<div class="clear"></div>
        <div class="footer">
            <div class="related_videos">
                <a class="ui-widget show_related_videos" href="#">Related Videos</a>
                <table class="related_videos_table">
                    <tr>
                    {% for related_lecture in related_lectures %}
                        <td>
                            <a href="{% url edex_app.views.lecture related_lecture.course.pk related_lecture.number %}"><img src="http://img.youtube.com/vi/{{ related_lecture.video }}/0.jpg" class="related_lecture_img" /></a>
                            <p>
                                {{ related_lecture.title }}
                            </p>
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
