{% extends "base.html" %}

{% block title %}
{% if course  %}
    {{ course.title }}
{% else %}
    Course
{% endif %}
{% endblock  %}

{% block content %}

<div class="lecture_container">
    <div class="video_carousel">
    {% for lecture in lectures %}
        {% if lecture.number == lecture_num %}
            <div class="lecture_slide">
                <div id="video_player">
                    You need flash player to view this video.
                </div>
            </div>
        {% else %}
            <div class="lecture_slide">
                <a href="{% url edex_app.views.lecture course.pk lecture.number %}"><img src="http://img.youtube.com/vi/{{ lecture.video }}/0.jpg" /></a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <a href="#" id="ui-carousel-next">next</a>
    <a href="#" id="ui-carousel-prev">prev;</a>
</div>
<div class="clear"></div>
<div class="video_description">

</div>
<div class="clear"></div>
<table>
    <tr>
        <td>
            <div class="notes_panel">

            </div>
        </td>
        <td>
            <div class="question_answer_panel">

            </div>
        </td>
    </tr>
</table>
<div class="clear"></div>
<div class="recommended_panel">

</div>

{% endblock %}
