{% extends "base.html" %}

{% block title %}
{% if course  %}
    {{ course.title }}
{% else %}
    Course
{% endif %}
{% endblock  %}

{% block content %}
<div class="course_title">
    <a href="{% url edex_app.views.course course.pk %}">{{ course.title }}</a>
</div>
<div class="lecture_container">
    <ul class="video_carousel">
    {% for lecture in lectures %}
        {% if lecture.number == lecture_num %}
            <li>
                <div id="video_player">
                    Loading video...
                </div>
                <h2>
                    {{ lecture.title }}
                </h2>
                <p>
                </p>
            </li>
        {% else %}
            <li>
                <a href="{% url edex_app.views.lecture course.pk lecture.number %}"><img src="http://img.youtube.com/vi/{{ lecture.video }}/0.jpg" class="lecture_img" /></a>
                <h2>
                    {{ lecture.title }}
                </h2>
                <p>
                </p>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div class="clear"></div>
<div class="video_description">

</div>
<div class="clear"></div>
{% if lecture_num %}
<div class="lecture_utilities">
    <table class="full_cell">
        <tr>
            <td class="half_width">
                <div id="notes_tab" class="notes_section">
                    <ul>
                        <li><a href="#personal_notes">Personal</a></li>
                        <li><a href="#community_notes">Community</a></li>
                    </ul>
                    <div id="personal_notes">
                        <form id="save_notes">
                        {% csrf_token %}
                            <div id="notes_preview"></div>
                            <textarea id="notes_edit" name="note" class="notes_textarea ui-corner-all" rows="15" cols="30">{{ notes.text }}</textarea>
                            <div class="clear"></div>
                            <input type="submit" value="Save" class="ui-button ui-button-text-only ui-corner-all ui-state-default" />
                            <a id="edit_notes" href="#">edit</a>
                            <a id= "preview_notes" href="#">preview</a>
                            <input type="hidden" name="lecture_pk" value="{{ lecture_pk }}"/>
                            <div id="save_notes_message"></div>
                        </form> 
                    </div>
                    <div id="community_notes">
                        <div class="community_panel">
                            {% for note in community_notes %}
                                <h3>{{ note.user.username }}</h3>
                                <div class="modify_text">
                                    {{ note.text }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </td>
            <td class="half_width">
                <div id="questions_answers">
            		<select name="selected_language" id="selected_language" class="ui-corner-all registration_select">
			    		{% for code_language, full_language in languages %}
							{% if code_language == "en" %}
								<option selected="selected" value="{{ code_language }}">{{ full_language }}</option>
							{% else %}
								<option value="{{ code_language }}">{{ full_language }}</option>
							{% endif %}
						{% endfor %}
					</select>
                    <a id="translate_text" href="#">Translate</a>
                    <form id="question_form" method="post" action="{% url edex_app.views.ask_question %}" >
                        {% csrf_token %}
                        <textarea id="ask_question_area" name="text" class="ui-corner-all" rows="4" cols="30">Ask a question!</textarea>
                        <input type="submit" value="Ask" class="ui-button ui-button-text-only ui-corner-all ui-state-default" />
                        <input type="hidden" name="lecture_pk" value="{{ lecture_pk }}" />
                    </form>
					<table>
						{%for question, answers in questions_answers %}
							<tr>
								<td>
								<div class="question_section">
									<div class="modify_text">
										{{ question.text }}
									</div>
									<table class="username_question">
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
										        <a href="{% url edex_app.views.profile question.user.username %}">{{ question.user.username }}</a>
                                            </td>
                                        </tr>
									</table>
								</div>
								</td>
							</tr>
							<tr>
								<td>
									<table class="answer_panel">
									{% for answer in answers %}
										<tr>
											<td>
												<div class="modify_text">
													{{ answer.text }}
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<table class="username_question">
													<tr>
														<td>
														</td>
														<td>
															<a href="{% url edex_app.views.profile answer.user.username %}">{{ answer.user.username }}</a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									{% endfor %}
                                        <tr>
                                            <td>
                                                <form id="answer_form" method="post" action="{% url edex_app.views.answer_question %}">
                                                    {% csrf_token %}
                                                    <textarea id="answer_question_area" name="text" class="ui-corner-all" rows="4" cols="30"></textarea>
                                                    <input type="submit" value="Answer" class="ui-button ui-button-text-only ui-corner-all ui-state-default" />
                                                    <input type="hidden" name="question_pk" value="{{ question.pk }}" />
                                                </form>
                                            </td>
                                        </tr>
									</table>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
            </td>
        </tr>
    </table>
</div>
{% endif %}
<div class="clear"></div>
<div class="recommended_panel">
</div>

{% endblock %}
