{% extends "base.html" %}

{% block title %}
{% if course  %}
    {{ course.title }}
{% else %}
    Course
{% endif %}
{% endblock  %}

{% block content %}

<div class="lecture_container">
    <ul class="video_carousel">
    {% for lecture in lectures %}
        {% if lecture.number == lecture_num %}
            <li>
                <div id="video_player">
                    Loading video...
                </div>
                <h2>
                    {{ lecture.title }}
                </h2>
                <p>
                </p>
            </li>
        {% else %}
            <li>
                <a href="{% url edex_app.views.lecture course.pk lecture.number %}"><img src="http://img.youtube.com/vi/{{ lecture.video }}/0.jpg" class="lecture_img" /></a>
                <h2>
                    {{ lecture.title }}
                </h2>
                <p>
                </p>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div class="clear"></div>
<div class="video_description">

</div>
<div class="clear"></div>
<table>
    <tr>
        <td>
            <div class="notes_panel">

            </div>
        </td>
        <td>
            <div class="question_answer_panel">

            </div>
        </td>
    </tr>
</table>
<div class="clear"></div>
<div class="recommended_panel">

</div>

{% endblock %}
