body {
	background-color: #222;
	color: #fff;
}

.header {

}

.logo {
	float: left;
}

.logo_image {
	height: 80px;
}

.main_search {
	float: right;
}

.content {

}

.registration {
	float: right;
}

.footer {

}

.clear {
	clear: both;
}