body {
    background-color: #444;
    color: #fff;
    margin: 0px;
}

a:link {
    color: #1111ff;
    text-decoration: underline;
}

a:active {
    color: #1111ff;
    text-decoration: underline;
}

a:visited {
    color: #1111ff;
    text-decoration: underline;
}

a:hover {
    color: #0000ff;
    text-decoration: none;
}

.header {
    background-color: #222;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #111;
    padding: 2px
}

.header_table {
    width: 100%;
}

.logo {
    padding: 4px;
}

.logo_image {
	height: 60px;
}

.main_search {
	padding: 2px;
    text-align: center;
}

.main_search_text {
    width: 100% 
}

.main_search_table {
    width: 100%;
}

.content {
    margin: 5px;
    padding: 5px;
}

.index_search {
	width: 100%;
	padding: 2px;
	text-align: center;
}

.index_search_text {
    width: 100% 
}

.index_search_table {
    width: 100%;
}

.keywords {
	width: 100%;
	text-align: center;
}

.related_videos {
	width: 100%;
	text-align: center;
}

.registration {
	text-align: center;
}

.registration_table {
    text-align: right;
}

.registration_select {
    width: 100%;
}

.full_cell {
    width: 100%;
}

.login {
    float: right;
    padding: 10px;
}

.login_area {
    padding: 2px;
}

.show_login {
    display: none;
}

.lecture {
}

.lecture_container {
    position: relative;
    margin: 0 auto;
}

#ui-carousel-next {
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 100;
    background: url(arrow-right.png) #444 center center no-repeat;
}

#ui-carousel-prev {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 100;
    background: url(arrow-left.png) #444 center center no-repeat;
}

.footer {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #111;
    margin 5px;
}

.clear {
	clear: both;
}

.error {
    color: #ff1111;
    font-weight: bold;
}
